# Intro to Data Science with Pokemon
***

### Arrays

In [1]:
food = ["bread", "cheese", "banana", "apple", "tomato"]

In [2]:
print(food)

['bread', 'cheese', 'banana', 'apple', 'tomato']

In [3]:
print(food[2])

banana

In [4]:
sliced_food_list = food[0:3]

In [5]:
print(sliced_food_list)

['bread', 'cheese', 'banana']

### Import Libraries
***

In [6]:
import pandas as pd
import numpy as py
import seaborn as sb

In [7]:
print("PANDAS version" + pd.__version__)
print("numpy version" + py.__version__)
print("Seaborn version" + sb.__version__)

PANDAS version2.2.3
numpy version2.1.1
Seaborn version0.13.2

### Loading Data
***

In [8]:
df = pd.read_csv("pokemon.csv")

### Display Full Data Frames
***

In [9]:
#pd.set_option('display.max_rows', None)

In [10]:
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un,Pokemon.1
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN,Bulbasaur
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN,Ivysaur
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN,Venusaur
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN,Charmander
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN,Charmeleon

This is the pokemon data set, note that all pokemon are present except the latest newest generation.

### Accessing Columns
***

In [11]:
df.Pokemon

0         Bulbasaur
1           Ivysaur
2          Venusaur
3        Charmander
4        Charmeleon
           ...
658          Kyurem
659          Keldeo
660    Meloetta (A)
661    Meloetta (P)
662        Genesect
Name: Pokemon, Length: 663, dtype: object

In [13]:
df.Pokemon[0]

'Bulbasaur'

In [14]:
df.Pokemon[0:3]

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object